:root {
    --main-bg-color: #FB3640, #944BBB, #4392F1;
}

body {
    background-image: linear-gradient(-45deg, var(--main-bg-color));
    height: 100vh;
    overflow-y: hidden;
}

main {
    max-width: 400px;
    padding: 30px 20px;
    margin: auto;
    margin-top: 15%;
}

main form{
    display: flex;
    flex-direction: column;
    padding: 5px 30px 30px 30px;
    background-color: #ffffff7c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.288);
}

main form label{
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 10px;
}

main form label::after {
    content: ' *';
    color: red;
}

main form input {
    border: none;
    background-color: transparent;
    height: 25px;
    padding: 5px;
    letter-spacing: 1px;
    border-bottom: solid 2px #ffffff8c;
}

main form input:focus {
    outline: none;
    border: none;
}

main form .input_underline {
    background-color: #ffffff8c;
    height: 2px;
    width: 0;
    border-radius: 5px;
}

main form button{
    background-color: #ffffff;
    font-size: 25px;
    margin: auto;
    margin-top: 30px;
    width: fit-content;
    padding: 8px;
    border: solid 1px #00000075;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.637);
}   

main form button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

main form button:active {
    box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.637) inset;
}

main form .actived {
    background-image: linear-gradient(-45deg, var(--main-bg-color));
    width: 100%;
    transition: .3s ease-in-out;
}
